In [1]:
import pandas as pd
import os
import numpy as np
pd.options.display.max_columns = 50

In [2]:
ct_ao  = pd.read_csv(r'F:\Projects\Clients\mtc\updated_networks\MTC_Visualizer\data\census\ACS_2017_5yr_auto_ownership\ACSDT5Y2017.B08201_data_with_overlays_2021-09-21T122354.csv',
                    header=1)

In [3]:
ct_ao

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!No vehicle available,Margin of Error!!Total!!No vehicle available,Estimate!!Total!!1 vehicle available,Margin of Error!!Total!!1 vehicle available,Estimate!!Total!!2 vehicles available,Margin of Error!!Total!!2 vehicles available,Estimate!!Total!!3 vehicles available,Margin of Error!!Total!!3 vehicles available,Estimate!!Total!!4 or more vehicles available,Margin of Error!!Total!!4 or more vehicles available,Estimate!!Total!!1-person household,Margin of Error!!Total!!1-person household,Estimate!!Total!!1-person household!!No vehicle available,Margin of Error!!Total!!1-person household!!No vehicle available,Estimate!!Total!!1-person household!!1 vehicle available,Margin of Error!!Total!!1-person household!!1 vehicle available,Estimate!!Total!!1-person household!!2 vehicles available,Margin of Error!!Total!!1-person household!!2 vehicles available,Estimate!!Total!!1-person household!!3 vehicles available,Margin of Error!!Total!!1-person household!!3 vehicles available,Estimate!!Total!!1-person household!!4 or more vehicles available,...,Margin of Error!!Total!!2-person household!!4 or more vehicles available,Estimate!!Total!!3-person household,Margin of Error!!Total!!3-person household,Estimate!!Total!!3-person household!!No vehicle available,Margin of Error!!Total!!3-person household!!No vehicle available,Estimate!!Total!!3-person household!!1 vehicle available,Margin of Error!!Total!!3-person household!!1 vehicle available,Estimate!!Total!!3-person household!!2 vehicles available,Margin of Error!!Total!!3-person household!!2 vehicles available,Estimate!!Total!!3-person household!!3 vehicles available,Margin of Error!!Total!!3-person household!!3 vehicles available,Estimate!!Total!!3-person household!!4 or more vehicles available,Margin of Error!!Total!!3-person household!!4 or more vehicles available,Estimate!!Total!!4-or-more-person household,Margin of Error!!Total!!4-or-more-person household,Estimate!!Total!!4-or-more-person household!!No vehicle available,Margin of Error!!Total!!4-or-more-person household!!No vehicle available,Estimate!!Total!!4-or-more-person household!!1 vehicle available,Margin of Error!!Total!!4-or-more-person household!!1 vehicle available,Estimate!!Total!!4-or-more-person household!!2 vehicles available,Margin of Error!!Total!!4-or-more-person household!!2 vehicles available,Estimate!!Total!!4-or-more-person household!!3 vehicles available,Margin of Error!!Total!!4-or-more-person household!!3 vehicles available,Estimate!!Total!!4-or-more-person household!!4 or more vehicles available,Margin of Error!!Total!!4-or-more-person household!!4 or more vehicles available
0,1400000US06001400100,"Census Tract 4001, Alameda County, California",1254,65,17,19,287,66,571,105,289,85,90,42,248,59,8,13,193,56,40,26,7,12,0,...,12,212,77,0,12,9,14,104,57,72,55,27,22,177,45,0,12,15,16,65,32,41,27,56,34
1,1400000US06001400200,"Census Tract 4002, Alameda County, California",828,43,64,33,365,60,327,54,54,28,18,16,220,59,40,28,162,48,7,10,3,5,8,...,12,113,35,0,12,67,28,28,19,12,11,6,10,134,22,0,12,8,11,99,25,23,18,4,6
2,1400000US06001400300,"Census Tract 4003, Alameda County, California",2458,121,393,171,950,178,940,172,107,64,68,63,1007,191,306,139,604,184,79,65,18,29,0,...,56,271,115,0,17,63,58,155,85,53,47,0,17,276,66,0,17,24,29,219,58,15,28,18,28
3,1400000US06001400400,"Census Tract 4004, Alameda County, California",1786,74,163,65,937,118,492,97,153,77,41,35,586,94,101,53,442,89,43,29,0,12,0,...,24,295,96,0,12,81,47,124,71,68,66,22,26,242,74,0,12,90,61,106,54,46,35,0,12
4,1400000US06001400500,"Census Tract 4005, Alameda County, California",1625,57,224,83,714,122,486,103,148,68,53,44,510,109,124,62,359,100,11,18,5,9,11,...,12,356,98,0,12,65,49,158,70,104,58,29,43,216,52,0,12,34,29,139,48,30,28,13,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,1400000US06115040800,"Census Tract 408, Yuba County, California",1503,108,46,34,385,114,468,129,368,103,236,86,251,93,9,14,197,86,45,42,0,12,0,...,52,305,95,0,12,50,49,123,58,115,61,17,21,494,94,28,34,20,21,115,65,179,75,152,82
8053,1400000US06115040901,"Census Tract 409.01, Yuba County, California",1056,86,18,24,293,80,372,88,242,79,131,54,266,69,14,23,160,56,83,45,9,14,0,...,21,144,60,0,12,37,43,43,36,46,27,18,16,339,72,4,9,40,43,110,47,96,50,89,47
8054,1400000US06115040902,"Census Tract 409.02, Yuba County, California",355,62,0,12,83,45,262,56,10,10,0,12,28,23,0,12,9,9,19,24,0,12,0,...,12,98,41,0,12,23,21,75,37,0,12,0,12,85,27,0,12,5,7,70,25,10,10,0,12
8055,1400000US06115041000,"Census Tract 410, Yuba County, California",2913,248,99,62,442,173,1204,208,969,216,199,90,708,205,70,50,250,133,147,82,241,145,0,...,65,241,94,29,29,36,42,38,34,86,55,52,45,647,162,0,17,13,22,312,158,262,104,60,48
8056,1400000US06115041100,"Census Tract 411, Yuba County, California",2120,175,125,105,664,195,785,183,454,157,92,49,717,201,125,105,445,178,98,71,40,41,9,...,31,233,115,0,12,20,25,163,108,50,69,0,12,179,80,0,12,9,11,95,62,25,28,50,40

In [4]:
error_cols = [col for col in ct_ao.columns if "Margin of Error" in col]
error_cols
ct_ao.drop(error_cols, axis='columns', inplace=True)

In [5]:
ct_ao.head()

,id,Geographic Area Name,Estimate!!Total,Estimate!!Total!!No vehicle available,Estimate!!Total!!1 vehicle available,Estimate!!Total!!2 vehicles available,Estimate!!Total!!3 vehicles available,Estimate!!Total!!4 or more vehicles available,Estimate!!Total!!1-person household,Estimate!!Total!!1-person household!!No vehicle available,Estimate!!Total!!1-person household!!1 vehicle available,Estimate!!Total!!1-person household!!2 vehicles available,Estimate!!Total!!1-person household!!3 vehicles available,Estimate!!Total!!1-person household!!4 or more vehicles available,Estimate!!Total!!2-person household,Estimate!!Total!!2-person household!!No vehicle available,Estimate!!Total!!2-person household!!1 vehicle available,Estimate!!Total!!2-person household!!2 vehicles available,Estimate!!Total!!2-person household!!3 vehicles available,Estimate!!Total!!2-person household!!4 or more vehicles available,Estimate!!Total!!3-person household,Estimate!!Total!!3-person household!!No vehicle available,Estimate!!Total!!3-person household!!1 vehicle available,Estimate!!Total!!3-person household!!2 vehicles available,Estimate!!Total!!3-person household!!3 vehicles available,Estimate!!Total!!3-person household!!4 or more vehicles available,Estimate!!Total!!4-or-more-person household,Estimate!!Total!!4-or-more-person household!!No vehicle available,Estimate!!Total!!4-or-more-person household!!1 vehicle available,Estimate!!Total!!4-or-more-person household!!2 vehicles available,Estimate!!Total!!4-or-more-person household!!3 vehicles available,Estimate!!Total!!4-or-more-person household!!4 or more vehicles available
0,1400000US06001400100,"Census Tract 4001, Alameda County, California",1254,17,287,571,289,90,248,8,193,40,7,0,617,9,70,362,169,7,212,0,9,104,72,27,177,0,15,65,41,56
1,1400000US06001400200,"Census Tract 4002, Alameda County, California",828,64,365,327,54,18,220,40,162,7,3,8,361,24,128,193,16,0,113,0,67,28,12,6,134,0,8,99,23,4
2,1400000US06001400300,"Census Tract 4003, Alameda County, California",2458,393,950,940,107,68,1007,306,604,79,18,0,904,87,259,487,21,50,271,0,63,155,53,0,276,0,24,219,15,18
3,1400000US06001400400,"Census Tract 4004, Alameda County, California",1786,163,937,492,153,41,586,101,442,43,0,0,663,62,324,219,39,19,295,0,81,124,68,22,242,0,90,106,46,0
4,1400000US06001400500,"Census Tract 4005, Alameda County, California",1625,224,714,486,148,53,510,124,359,11,5,11,543,100,256,178,9,0,356,0,65,158,104,29,216,0,34,139,30,13

In [6]:
ct_ao_output = pd.DataFrame()
ct_ao_output['GEO_ID'] = ct_ao['id']
ct_ao_output['TractID'] = ct_ao['id'].apply(lambda x: x.split('US')[1])
ct_ao_output['CensusTract'] = ct_ao['Geographic Area Name'].apply(lambda x: x.split(',')[0])
ct_ao_output['County'] = ct_ao['Geographic Area Name'].apply(lambda x: x.split(',')[1])
ct_ao_output['State'] = ct_ao['Geographic Area Name'].apply(lambda x: x.split(',')[2])
ct_ao_output['Census_HH'] = ct_ao['Estimate!!Total']
ct_ao_output['Census_A0'] = ct_ao['Estimate!!Total!!No vehicle available']
ct_ao_output['Census_A1'] = ct_ao['Estimate!!Total!!1 vehicle available']
ct_ao_output['Census_A2'] = ct_ao['Estimate!!Total!!2 vehicles available']
ct_ao_output['Census_A3'] = ct_ao['Estimate!!Total!!3 vehicles available']
ct_ao_output['Census_A4'] = ct_ao['Estimate!!Total!!4 or more vehicles available']
ct_ao_output

,GEO_ID,TractID,CensusTract,County,State,Census_HH,Census_A0,Census_A1,Census_A2,Census_A3,Census_A4
0,1400000US06001400100,06001400100,Census Tract 4001,Alameda County,California,1254,17,287,571,289,90
1,1400000US06001400200,06001400200,Census Tract 4002,Alameda County,California,828,64,365,327,54,18
2,1400000US06001400300,06001400300,Census Tract 4003,Alameda County,California,2458,393,950,940,107,68
3,1400000US06001400400,06001400400,Census Tract 4004,Alameda County,California,1786,163,937,492,153,41
4,1400000US06001400500,06001400500,Census Tract 4005,Alameda County,California,1625,224,714,486,148,53
...,...,...,...,...,...,...,...,...,...,...,...
8052,1400000US06115040800,06115040800,Census Tract 408,Yuba County,California,1503,46,385,468,368,236
8053,1400000US06115040901,06115040901,Census Tract 409.01,Yuba County,California,1056,18,293,372,242,131
8054,1400000US06115040902,06115040902,Census Tract 409.02,Yuba County,California,355,0,83,262,10,0
8055,1400000US06115041000,06115041000,Census Tract 410,Yuba County,California,2913,99,442,1204,969,199
8056,1400000US06115041100,06115041100,Census Tract 411,Yuba County,California,2120,125,664,785,454,92

In [7]:
# ct_ao_output.to_csv('../data/census/ACS_2017_5yr_CA_CT_AutoOwn.csv')

## Some Analysis

In [8]:
hh = pd.read_csv(r'F:\Projects\Clients\mtc\updated_networks\version_11_v5_newer_population\ctramp_output\householdData_3.csv')

In [9]:
xwalk = pd.read_csv(r'F:\Projects\Clients\mtc\updated_networks\MTC_Visualizer\data\SHP\census_tracts_mazs_tazs_v2.2.csv')

In [10]:
hh.head()

,hh_id,home_mgra,income,autos,automated_vehicles,transponder,cdap_pattern,jtf_choice,sampleRate,size,workers
0,18003,1,12536,0,0,0,NNj,4,1.0,2,0
1,18016,1,104792,1,0,1,M0,0,1.0,1,1
2,18014,1,109568,1,0,1,M0,0,1.0,1,1
3,17980,1,100762,1,0,1,MMj,13,1.0,2,2
4,18028,1,14106,1,0,0,N0,0,1.0,1,0

In [11]:
hh['has_zero_auto'] = np.where(hh['autos'] == 0, 1, 0)
hh_xwalk = pd.merge(hh, xwalk, how='left', left_on='home_mgra', right_on='MAZSEQ')
hh_xwalk.head()

,hh_id,home_mgra,income,autos,automated_vehicles,transponder,cdap_pattern,jtf_choice,sampleRate,size,workers,has_zero_auto,MAZ_ORIGINAL,TAZ_ORIGINAL,COUNTYFP10,TRACTCE10,CTIDFP10,MAZSEQ,TAZSEQ
0,18003,1,12536,0,0,0,NNj,4,1.0,2,0,1,10001,56,75,21300,6075021300,1,56
1,18016,1,104792,1,0,1,M0,0,1.0,1,1,0,10001,56,75,21300,6075021300,1,56
2,18014,1,109568,1,0,1,M0,0,1.0,1,1,0,10001,56,75,21300,6075021300,1,56
3,17980,1,100762,1,0,1,MMj,13,1.0,2,2,0,10001,56,75,21300,6075021300,1,56
4,18028,1,14106,1,0,0,N0,0,1.0,1,0,0,10001,56,75,21300,6075021300,1,56

In [12]:
ct_ao_output['TractID'] = ct_ao_output['TractID'].astype('int64')
hh_xwalk_county = pd.merge(hh_xwalk, ct_ao_output[['County', 'TractID']], how='left', left_on='CTIDFP10', right_on='TractID')

In [13]:
model_zero_auto = hh_xwalk_county.groupby('County').agg({'has_zero_auto': sum, 'hh_id': 'count'})
model_zero_auto.columns = ['Model_A0', 'Model_HH']

In [14]:
census_zero_auto = ct_ao_output.groupby('County')[['Census_A0', 'Census_HH']].sum()
model_v_census_A0 = pd.merge(model_zero_auto, census_zero_auto, how='left', left_index=True, right_index=True)
model_v_census_A0.loc['Total'] = model_v_census_A0.sum()
model_v_census_A0

                       Model_A0  Model_HH  Census_A0  Census_HH
County
 Alameda County           31969    577870      55649     569070
 Contra Costa County       8239    387744      21869     389597
 Marin County              3041    111737       5171     104846
 Napa County               1193     52617       2508      49044
 San Francisco County    139263    386047     109259     358772
 San Mateo County          9163    270802      13902     261796
 Santa Clara County       23178    645528      31923     630451
 Solano County             2759    144440       8049     147352
 Sonoma County             5330    194661       9242     190058
Total                    224135   2771446     257572    2700986

In [15]:
A0_df = model_v_census_A0[['Census_A0', 'Model_A0']].copy()
A0_df['difference'] = A0_df['Model_A0'] - A0_df['Census_A0']
A0_df['percent_diff'] = round((A0_df['difference'] / A0_df['Census_A0']) * 100, 2)
A0_df

                       Census_A0  Model_A0  difference  percent_diff
County
 Alameda County            55649     31969      -23680        -42.55
 Contra Costa County       21869      8239      -13630        -62.33
 Marin County               5171      3041       -2130        -41.19
 Napa County                2508      1193       -1315        -52.43
 San Francisco County     109259    139263       30004         27.46
 San Mateo County          13902      9163       -4739        -34.09
 Santa Clara County        31923     23178       -8745        -27.39
 Solano County              8049      2759       -5290        -65.72
 Sonoma County              9242      5330       -3912        -42.33
Total                     257572    224135      -33437        -12.98

In [16]:
HH_df = model_v_census_A0[['Census_HH', 'Model_HH']].copy()
HH_df['difference'] = HH_df['Model_HH'] - HH_df['Census_HH']
HH_df['percent_diff'] = round((HH_df['difference'] / HH_df['Census_HH']) * 100, 2)
HH_df

                       Census_HH  Model_HH  difference  percent_diff
County
 Alameda County           569070    577870        8800          1.55
 Contra Costa County      389597    387744       -1853         -0.48
 Marin County             104846    111737        6891          6.57
 Napa County               49044     52617        3573          7.29
 San Francisco County     358772    386047       27275          7.60
 San Mateo County         261796    270802        9006          3.44
 Santa Clara County       630451    645528       15077          2.39
 Solano County            147352    144440       -2912         -1.98
 Sonoma County            190058    194661        4603          2.42
Total                    2700986   2771446       70460          2.61

#### Input Synthetic Population

In [17]:
syn_hh = pd.read_csv(r'F:\Projects\Clients\mtc\updated_networks\version_11_v5_newer_population\input\popsyn\households.csv')

In [18]:
syn_hh['has_zero_auto'] = np.where(syn_hh['VEH'] == 0, 1, 0)
syn_hh_xwalk = pd.merge(syn_hh, xwalk, how='left', left_on='MAZ', right_on='MAZ_ORIGINAL')
syn_hh_xwalk.head()

,HHID,TAZ,MAZ,MTCCountyID,HHINCADJ,NWRKRS_ESR,VEH,NP,HHT,BLD,TYPE,has_zero_auto,MAZ_ORIGINAL,TAZ_ORIGINAL,COUNTYFP10,TRACTCE10,CTIDFP10,MAZSEQ,TAZSEQ
0,1,1,10140,1,127663.968029,4,2,6,1,2,1,0,10140,1,75,20200,6075020200,72,1
1,2,1,10140,1,242864.518721,5,4,9,1,2,1,0,10140,1,75,20200,6075020200,72,1
2,3,1,10140,1,333993.051384,1,2,4,1,2,1,0,10140,1,75,20200,6075020200,72,1
3,4,1,10140,1,61565.826400,3,0,4,2,6,1,1,10140,1,75,20200,6075020200,72,1
4,5,1,10140,1,83533.019178,3,3,9,1,6,1,0,10140,1,75,20200,6075020200,72,1

In [19]:
syn_hh_xwalk_county = pd.merge(syn_hh_xwalk, ct_ao_output[['County', 'TractID']], how='left', left_on='CTIDFP10', right_on='TractID')

In [20]:
syn_zero_auto = syn_hh_xwalk_county.groupby('County').agg({'has_zero_auto': sum, 'HHID': 'count'})
syn_zero_auto.columns = ['Model_A0', 'Model_HH']

In [21]:
syn_v_census_A0 = pd.merge(syn_zero_auto, census_zero_auto, how='left', left_index=True, right_index=True)
syn_v_census_A0.loc['Total'] = syn_v_census_A0.sum()
syn_v_census_A0

                       Model_A0  Model_HH  Census_A0  Census_HH
County
 Alameda County           53500    577870      55649     569070
 Contra Costa County      17338    387744      21869     389597
 Marin County              4514    111737       5171     104846
 Napa County               2878     52617       2508      49044
 San Francisco County    109177    386047     109259     358772
 San Mateo County         13599    270802      13902     261796
 Santa Clara County       28604    645528      31923     630451
 Solano County             8328    144440       8049     147352
 Sonoma County             6776    194661       9242     190058
Total                    244714   2771446     257572    2700986

In [22]:
syn_A0_df = syn_v_census_A0[['Census_A0', 'Model_A0']].copy()
syn_A0_df['difference'] = syn_A0_df['Model_A0'] - syn_A0_df['Census_A0']
syn_A0_df['percent_diff'] = round((syn_A0_df['difference'] / syn_A0_df['Census_A0']) * 100, 2)
syn_A0_df

                       Census_A0  Model_A0  difference  percent_diff
County
 Alameda County            55649     53500       -2149         -3.86
 Contra Costa County       21869     17338       -4531        -20.72
 Marin County               5171      4514        -657        -12.71
 Napa County                2508      2878         370         14.75
 San Francisco County     109259    109177         -82         -0.08
 San Mateo County          13902     13599        -303         -2.18
 Santa Clara County        31923     28604       -3319        -10.40
 Solano County              8049      8328         279          3.47
 Sonoma County              9242      6776       -2466        -26.68
Total                     257572    244714      -12858         -4.99

In [23]:
syn_HH_df = syn_v_census_A0[['Census_HH', 'Model_HH']].copy()
syn_HH_df['difference'] = syn_HH_df['Model_HH'] - syn_HH_df['Census_HH']
syn_HH_df['percent_diff'] = round((syn_HH_df['difference'] / syn_HH_df['Census_HH']) * 100, 2)
syn_HH_df

                       Census_HH  Model_HH  difference  percent_diff
County
 Alameda County           569070    577870        8800          1.55
 Contra Costa County      389597    387744       -1853         -0.48
 Marin County             104846    111737        6891          6.57
 Napa County               49044     52617        3573          7.29
 San Francisco County     358772    386047       27275          7.60
 San Mateo County         261796    270802        9006          3.44
 Santa Clara County       630451    645528       15077          2.39
 Solano County            147352    144440       -2912         -1.98
 Sonoma County            190058    194661        4603          2.42
Total                    2700986   2771446       70460          2.61